@import "~@angular/material/theming";

$theme-primary: mat-palette($mat-deep-purple);
$theme-accent: mat-palette($mat-amber, A700, A200, A100);
$theme-warn: mat-palette($mat-pink);
$theme-button-primary: mat-palette($mat-light-green);
$theme-button-secondary: mat-palette($mat-red);

$primary: mat-color($theme-primary);
$accent: mat-color($theme-accent);
$warn: mat-color($theme-warn);
$button-primary: mat-color($theme-button-primary);
$button-secondary: mat-color($theme-button-secondary);
