.customers-container {
  display: flex;
  justify-content: space-between;
}

.customer-form {
  flex-grow: 1;
  flex-basis: auto;
  border: 1px solid black;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  width: 95%;
  margin: 0;
  padding: 0;
}

.customers-table-container {
  flex-grow: 1;
  flex-basis: auto;
  border: 1px solid black;

  .customers-table-header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
    .add-icon {
      align-self: center;
    }
  }

  .customers-table {
    width: 100%;
  }
}

.icon-styles {
  cursor: pointer;
}
