.customers-container {
  display: flex;
  justify-content: space-between;
}

.add-customer-form {
  flex-grow: 1;
  flex-basis: auto;
  border: 1px solid black;
}

.fields {
  display: flex;
  flex-direction: column;
}

input {
  width: 95%;
  margin: 0;
  padding: 0;
}

.customers-table-container {
  flex-grow: 1;
  flex-basis: auto;
  border: 1px solid black;
}

.customers-table {
  width: 100%;
}
