@import "core/styles/constants";

.sidenav-container,
.sidenav-content,
.sidenav {
  height: 100%;
}

.sidenav-container {
  .sidenav {
    width: 250px;
  }

  .sidenav-content {
    .sidenav-toolbar {
      display: flex;
      justify-content: space-between;
      &-items {
        display: flex;
        .sidenav-toolbar-link {
          button {
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
    }
    .router-container {
      padding: 10px;
    }
  }
}

