<div class="customers-container">
  <div class="customers-table-container" *ngIf="customers">
    <div class="customers-table-header">
      <div class="table-title">Customers</div>
      <mat-icon class="add-icon icon-styles" (click)="openAddDialog()">add</mat-icon>
    </div>
    <table class="customers-table" mat-table [dataSource]="customers">
      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th class="customers-table-col-header" mat-header-cell *matHeaderCellDef>First Name</th>
        <td class="customers-table-col-cell" mat-cell *matCellDef="let customer">
          <a [routerLink]="['/customer', customer.id]">
            {{customer.firstName}}
          </a>
        </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th class="customers-table-col-header" mat-header-cell *matHeaderCellDef>Last Name</th>
        <td class="customers-table-col-cell" mat-cell *matCellDef="let customer">{{customer.lastName}}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th class="customers-table-col-header" mat-header-cell *matHeaderCellDef>Phone</th>
        <td class="customers-table-col-cell" mat-cell *matCellDef="let customer">{{customer.telephone}}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th class="customers-table-col-header" mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="customers-table-col-cell" mat-cell *matCellDef="let customer">
          <mat-icon class="icon-styles" (click)="openEditDialog(customer)">edit</mat-icon>
          <mat-icon class="icon-styles" (click)="dispatchRemoveCustomer(customer)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div>
</div>
